body {
  background-color: #333333;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

h1,
h2,
h4,
h5,
h6,
p {
  font-family: "Roboto", sans-serif;
  color: #111;
  line-height: 24px;
}

h1 {
  font-weight: 700;
  font-size: 50px;
  padding: 20px 0;
  text-align: center;
}

h2 {
  font-weight: 500;
  font-size: 24px;
  padding: 10px 0;
  text-align: center;
}

h3 {
  font-weight: 600;
  font-size: 22px;
  color: rgb(223, 39, 39);
  text-align: center;
}

h4 {
  font-weight: 500;
  font-size: 24px;
  padding: 10px 0;
  text-align: center;
}

p {
  font-weight: 400;
  font-size: 14px;
}

nav {
  width: 100%;
  height: 60px;
  background-color: #dd7926;
}

nav .wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dd7926;
}

nav img {
  width: 60px;
}

nav ul {
}

nav ul li {
  list-style: none;
  float: left;
}

nav ul li a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 0 16px;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #fff;
}

section {
  background-color: #fff;
  width: 94%;
  padding: 10px 3%;
}

li {
  margin: 10px 0;
  font-family: "Roboto", sans-serif;
}

.rules-text-01 ol {
  margin: auto;
  margin-left: 20px;
  list-style-position: inside;
  text-indent: -20px;
  width: fit-content;
}

.rules-text-01 ul {
  width: fit-content;
  padding-left: 15px;
  list-style-position: inside;
  text-indent: -20px; /* key property */
  margin-left: 20px; /* key property */
}

.login-check {
  padding-left: 10px;
  display: block;
  justify-content: left;
  font-family: "Roboto", sans-serif;
}

/* index */

.index-intro p {
  text-align: center;
}

.index-categories-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index-categories-list div {
  width: 24%;
  height: 100px;
  background-color: #dd7926;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body form {
  color: #111;
  padding: 6px;
}

/* sign up */

.signup-form-form {
  display: flex;
  justify-content: center;
}

.signup-form p {
  text-align: center;
  padding-bottom: 40px;
  color: #007ecc;
}

.signup-form form {
  width: 30%;
}

.signup-form form input {
  width: calc(100% - 16px);
  padding: 6px;
  margin-bottom: 4px;
}

.signup-form form button {
  display: block;
  padding: 10px 20px;
  margin: 10px auto;
  cursor: pointer;
}

.picks-form form {
  font-family: "Roboto", sans-serif;
  display: block;
}
